I am currently a member of the <a target="_blank" href="https://www.cs.utexas.edu/users/ai-lab/lab-view.php?LabID=20">Personal Autonomous Robotics Lab (PeARL)</a>, where I am working on my honors thesis advised by Professor Scott Niekum. I am interested in developing data-efficient and generalizable algorithms for embodied agents, particularly with applications to robotic manipulation.

<br/>
<br/>

Previously, I was a member of the <a target="_blank" href="https://sites.utexas.edu/tsl/">Texas Spacecraft Laboratory (TSL)</a> and the team lead for <a target="_blank" href="https://sites.utexas.edu/tsl/seeker/">Seeker</a>, where we did research with NASA on visual navigation for satellites. We were advised by Professor Maruthi Akella. You can find all of our open-source code at <a target="_blank" href="https://github.com/autognc">github.com/autognc.</a>
